# Environment files
.env
.env.backup
.env.production
.env.*          # ignores any other env variants

# Composer / PHP dependencies
/vendor
/.phpactor.json
/.phpunit.cache
/.phpunit.result.cache
/auth.json

# Node dependencies / frontend
/node_modules
/public/build
/public/hot

# Storage & cache
/storage/*.key
/storage/pail
/storage/logs
/storage/framework
/bootstrap/cache
/public/storage

# IDEs / Editors
/.idea
/.vscode
/.nova
/.zed
/.fleet

# OS specific
.DS_Store
Thumbs.db

# Homestead
Homestead.json
Homestead.yaml
